body {
    background-color: white;
    align-content: center;
    font-family: "Montserrat", sans-serif;
}

h2{
    margin: 0;
}

h3{
    margin: 0;
}

.logo{
    width: 50px;
    height: 50px;
}

.contenedor-flex{
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.titulo{
    outline-style: solid;
    outline-width: thin;
    background-color: #ffffff;
    border-radius: 10px;
}
.contenedor-flex > .tipo1{
    width: fit-content;
    font-size: 90%;
}
.contenedor-flex > .tipo2{
    align-items: center;
    justify-content: center;
    gap: 15px;
    display:flex;
    flex-direction: row;
    width: auto;
    margin: 10px;
    font-size: 20px;
    flex-wrap: wrap;
}
.contenedor-flex > .tipo3{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 5px;
    align-items: center;
}

.contenedor-flex >.tipo3 img{
    width: 50px;
    height: 50px;
}
.contenedor-flex > .tipo4{
    width: 100px;
    line-height: 100px;
    height: 20px;

}
.contenedor-flex > .tipo5{
    width: fit-content;
    margin: 10px;
    text-align: left;

}

header{
    padding: 10px;
}

footer{
    padding: 10px;
}

.fondoA{
    background-image: url("../images/montana.jpg");
}

/* Aqui se encuentran las difererentes clases para el tamaño de los contenedores de formato 5 columnas*/

.TituloGrid {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.Grid1-3C{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;

}
.Grid3-5C{
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: center;

}
.Grid3-5R{
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: Right;

}

.Grid4-5R{
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: Right;

}
.Grid1-5L{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: left;

}
.Grid1-5R{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;

}
.Grid1-3L{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
}

.SinSaltoLinea{
    display: inline-block;
}
.grid-containerA { /* Contenedor grid para el formulario de la Zona A */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 70px;
    justify-content: center;

}

.grid-containerA > div {
    padding: 20px;
    background-color: white;
    opacity: 0.8;
}

.Contenedor_GridC{ /* Contenedor Grid del Apartado C, este sera dividido en 3 partes */
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px; /* tambien se puede poner como fracciones fr */
    padding: 10px;
    justify-content: center;
}
.Contenedor_Grid1C { /*Contenedor Grdi de la primera zona del apartado C */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    font-size: 20px;

    justify-content: center;
}
.grid-container3C { /* Contenedor grid de la tercera zona del apartado C */
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    justify-content: center;
}
.grid-container3C > div {
    padding: 15px;
}

.Zona1C{ /* La primera zona va de la columna 1 al 3 y fila del 1 al 3 */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    border: 1px solid black;
    margin: 10px;
    text-align: left;
    font-size: 10px;
    background-image: url("../images/ImagenC_Playa.jpg");
    padding: 10px;
}

.Zona2C{ /* La segunda zona va de la columna 1 al 3 y fila 3 al 12*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 12;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.Zona3C{ /* la tercera zona va de la columna 3 al 6 y fila 1 al 12*/
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 12;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}


.TextoFondoBlanco{
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    opacity: 0.7;
}


.boton{
    background-color: lightblue;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 7px;
    padding: 3px;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    padding: 2px;
}

.main-superior{grid-area: superior;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;}

.main-inferior {
    justify-content: space-evenly;
    display: grid;
    grid-area: inferior;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    grid-template-areas:
    'tex tex tex'
    't1 t2 t3'
    't4 t5 t6';
    gap: 10px;
}

.aside{
    display: flex;
    grid-area: aside;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.contenedor-grid{
    display: grid;
    grid-template-columns: 66.66% 33.33%;
    grid-template-rows: auto auto;
    grid-template-areas:
            'superior aside'
            'inferior aside';

}

#formulario-login{
    display: grid;
    gap: 10px;
    grid-template-areas:
    'usuario usuario'
    'contrasena contrasena'
    'recordar recordar'
    'login registro';
    justify-self: center;
    align-self: center;
    justify-content: center;
    padding: 10px;
}

#usuario{
    grid-area: usuario;
    width: 200px;
    height: 20px;
}


#contrasena{
    grid-area: contrasena;
    width: 200px;
    height: 20px;
}


#recordar{
    grid-area: recordar;
    text-align: justify;
}

#login{
    grid-area: login;
    justify-self: right;
}

#registro{
    grid-area: registro;
    justify-self: left;
}

.banner{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-image: url("/images/montana.jpg");
    background-size: cover;
    background-position: center 20%;
    justify-content: center;
    border-radius: 10px;
}

#texto_banner{
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: beige;
    align-self: center;
    border-radius: 10px;
}

#carrusel{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.pack_carrusel{
    display: grid;
    width: 670px;
    height: 300px;
    background-image: url("/images/ImagenC_Playa.jpg");
    background-size: cover;
    grid-template-areas:
    'titulo_pack precio_pack'
    'texto_pack precio_pack'
    'comprar_pack comprar_pack';
    grid-template-rows: auto 200px auto;
    padding: 10px;
    border-radius: 10px;
}


#flecha_izq{
    font-size: 24px;
}

#flecha_der{
    font-size: 24px;
}
.titulo_pack{
    grid-area: titulo_pack;
    justify-self: left;
    height: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.precio_pack{
    grid-area: precio_pack;
    justify-self: right;
    height: fit-content;
    background-color: white;
    padding: 10px;
    font-size: 24px;
    border-radius: 100%;
}

.texto_pack{
    grid-area: texto_pack;
    justify-self: left;
    height: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
}


.comprar_pack{
    grid-area: comprar_pack;
    justify-self: right;
    align-self: end;
    font-size: 24px;
}

.tarjeta{
    display:grid;
    max-width: 230px;
    grid-template-areas:
            'titulo_tarjeta titulo_tarjeta'
            'foto_tarjeta like'
            'foto_tarjeta ver_mas';
    grid-template-columns: auto auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.foto_tarjeta{
    display:grid;
    grid-area: foto_tarjeta;
    place-items: center;
    object-fit: contain;
    padding: 5px;
}

.foto_tarjeta img{
    height: 100px;
    width: 140px;
    border-radius: 3px;
}


.like{
    display: grid;
    grid-area: like;
    place-items: center;
    padding: 5px;
    object-fit: contain;
}

.like img{
    height: 40px;
    width: 40px;
}


.ver_mas{
    display:grid;
    grid-area: ver_mas;
    padding: 5px;
    place-items: center;
    font-size: 14px;
}

.titulo_tarjeta{
    grid-area: titulo_tarjeta;
    height: min-content;
    align-content: center;
    text-align: center;
}

.titulo_tarjeta h4{
    margin: 0;
    padding: 5px;
}

#tarjeta1{
    display:grid;
    grid-area: t1;
}

#tarjeta2{
    display:grid;
    grid-area: t2;
}

#tarjeta3{
    display:grid;
    grid-area: t3;
}

#tarjeta4{
    display:grid;
    grid-area: t4;
}

#tarjeta5{
    display:grid;
    grid-area: t5;
}

#tarjeta6{
    display:grid;
    grid-area: t6;
}

#titulo_experiencias{
    grid-area:tex;
}

.textolink {
    color: black;
    text-decoration: none;
    padding: 2px;
}

#datos_perfil{
    display: grid;
    grid-template-areas:
        'foto_perfil nombre_perfil'
        'foto_perfil logout';
    align-items: center;
    justify-content: center;
    gap: 15px;

}

#nombre_perfil{
    grid-area: nombre_perfil;
}

#foto_perfil{
    width: 70px;
    height: 70px;
    grid-area: foto_perfil;
    border: 1px solid grey;
    border-radius: 10px;
}

#logout{
    grid-area: logout;
}

#tipos_experiencias{
    display: grid;
    gap: 10px;
    grid-template-areas:
            'checks_experiencias checks_experiencias'
            'adrenalina relax'
            'amigos individual'
            'busqueda busqueda';
    justify-content: center;
}

#checks_experiencias{
    grid-area: checks_experiencias;
}

#adrenalina{
    grid-area: adrenalina;
}

#relax{
    grid-area: relax;
}

#amigos{
    grid-area: amigos;
}

#individual{
    grid-area: individual;
}


#busqueda{
    grid-area: busqueda;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#lupa{
    width: 20px;
    height: 20px;
}

#tips_usuarios{
    display: flex;
    flex-direction: column;
}

#form_tips{
    display: grid;
    grid-template-areas:
            'titulo_tip titulo_tip'
            'nombre_tip enviar_tip'
            'texto_tip enviar_tip';
    align-items: center;
    gap: 10px;
}

#titulo_tip{
    grid-area: titulo_tip;
}

#nombre_tip{
    grid-area: nombre_tip;
}

#texto_tip{
    grid-area: texto_tip;
}

#enviar_tip{
    grid-area: enviar_tip;
}


#calendario{
    display: grid;
    grid-template-areas: 'foto_calendario';
    align-items: center;
    justify-content: center;
}
#foto_calendario{
    grid-area: foto_calendario;
    width: 230px;
}

@media only screen and (max-width: 700px){
    .Contenedor_GridC{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding: 10px;
        justify-content: center;
    }
    .Zona1C{grid-column-start:1;
        grid-column-end: 6;}
    .Zona2C{grid-column-start:1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 12;}
    .Zona3C{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 12;

    }
    .contenedor-flex{
        flex-direction: column;
        align-items: center;
    }
    .contenedor-flex > .tipo1{width: auto;
    text-align: center;
    margin: 0;}
    .contenedor-flex > .tipo3{width: auto;
        margin: 0;
        height: fit-content;
        text-align: center;
        line-height: 0;}
    .contenedor-flex > .tipo5{
        width: auto;
        margin: 0;
        text-align: Center;
        line-height: 0;

    }
}

@media only screen and (max-width: 1199px){
    .main-inferior{
        grid-template-areas:
        'tex tex'
        't1 t2'
        't3 t4'
        't5 t6';}
}

@media only screen and (max-width: 767px){
    .main-inferior{
        grid-template-areas:
        'tex tex'
        't1 t2'
        't3 t4'
        't5 t6';
    }

    .contenedor-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

@media only screen and (max-width: 500px) {
    .main-inferior {
        grid-template-areas:
        'tex'
        't1'
        't2'
        't3'
        't4'
        't5'
        't6';
    }
}
